*{
    margin:0;
    padding:0;
}
body
{
    background:white;
    color:black;
}
.meals
{
    background:gray;
    color:purple;
    display:grid;
    grid-template-columns: repeat(auto-fit,210px);
    width:100%;
}
.meals img
{
    height:250px;
}
form{
    justify-content: center;
    margin:auto;
    text-align: center;
}
form input{
    padding:5px;
    width:35%;
    margin:22px 0px;
}
input:focus{
    outline:none;
}